html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Tahoma"; }

body {
  background-color: #f2f2f2;
  text-align: center; }

#billboard {
  position: absolute;
  width: 100%;
  height: 145px;
  background-color: #8a2036; }

#menu {
  font-family: "Times New Roman";
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 70px;
  padding: 0px;
  text-align: center; }
  #menu a:link, #menu a:active, #menu a:visited {
    text-decoration: none;
    color: white; }
  #menu ul {
    margin: auto;
    padding: 0;
    width: 960px; }
    #menu ul #logo {
      background: url("../images/logo.png") no-repeat;
      width: 163px;
      height: 60px;
      margin-top: 5px;
      float: left; }
    #menu ul li {
      float: right;
      list-style: none;
      padding: 25px 0px 0 30px;
      color: white; }
    #menu ul li:hover {
      filter: alpha(opacity=0.5);
      -moz-opacity: 0.5;
      -khtml-opacity: 0.5;
      opacity: 0.5; }

.container {
  position: absolute;
  width: 100%;
  margin-top: 90px;
  text-align: center; }
  .container .main_content {
    text-align: left;
    padding: 0;
    background-color: white;
    margin: auto;
    width: 960px;
    min-height: 700px;
    -webkit-box-shadow: 0px 1px 2px 2px gainsboro;
    -moz-box-shadow: 0px 1px 2px 2px gainsboro;
    box-shadow: 0px 1px 2px 2px gainsboro; }
    .container .main_content .title {
      font-family: "Times New Roman";
      font-size: 24px;
      color: #649664;
      height: 35px;
      border-bottom: 1px solid #c8c8c8;
      padding: 10px; }
    .container .main_content .main_text {
      width: 600px;
      padding: 0 15px 0 15px;
      float: left; }
      .container .main_content .main_text h1 {
        margin: 15px 0 0 0;
        padding: 0;
        color: #8a2036;
        font-weight: bold;
        font-size: 15px;
        display: block; }
      .container .main_content .main_text ul {
        margin: 0;
        display: block; }
      .container .main_content .main_text ul li {
        font-size: 13px;
        color: #646464;
        width: 590px;
        list-style: square; }
      .container .main_content .main_text p {
        padding: 0;
        margin: 0;
        font-size: 13px;
        color: #646464; }
    .container .main_content .sidebar {
      float: right;
      width: 290px; }
    .container .main_content .subtitle {
      border-bottom: 1px solid #c8c8c8;
      color: #8a2036;
      font-family: "Times New Roman";
      font-size: 21px;
      margin-top: 0;
      width: 290px; }
    .container .main_content .date {
      height: 31px;
      width: 31px;
      padding: 2px;
      background-color: #8a2036;
      float: left;
      line-height: 15px;
      text-align: center;
      color: white;
      font-size: 12px; }
    .container .main_content .arrow-down {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #8a2036;
      margin-top: 35px;
      margin-left: 10px; }
    .container .main_content .event {
      color: black;
      margin-left: 50px;
      font-size: 15px; }
      .container .main_content .event a:link, .container .main_content .event a:active, .container .main_content .event a:visited {
        text-decoration: none;
        color: black; }
    .container .main_content .location_pin {
      background: url("../images/gui.png") -2px -100px no-repeat;
      height: 20px;
      width: 16px;
      float: left;
      margin-left: 50px;
      margin-top: 3px; }
    .container .main_content .event_location {
      color: #646464;
      font-size: 12px;
      padding: 8px; }
      .container .main_content .event_location a:link, .container .main_content .event_location a:active, .container .main_content .event_location a:visited {
        text-decoration: none;
        color: #646464; }
    .container .main_content .learn_more {
      height: 15px;
      width: 75px;
      padding: 2px 5px 2px 5px;
      background-color: #649664;
      color: white;
      text-align: left;
      font-size: 12px;
      margin-left: 50px;
      cursor: pointer; }
      .container .main_content .learn_more a:link, .container .main_content .learn_more a:active, .container .main_content .learn_more a:visited {
        text-decoration: none;
        color: white; }
    .container .main_content .learn_more:hover {
      filter: alpha(opacity=0.8);
      -moz-opacity: 0.8;
      -khtml-opacity: 0.8;
      opacity: 0.8; }
    .container .main_content .learn_more:active {
      background-color: #324b32; }
    .container .main_content #donation_box {
      /* For WebKit (Safari, Google Chrome etc) */
      background: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(white));
      /* For Mozilla/Gecko (Firefox etc) */
      background: -moz-linear-gradient(top, #eaeaea, white);
      /* For Internet Explorer 5.5 - 7 */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2);
      /* For Internet Explorer 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2)";
      width: 290px;
      height: 200px;
      border: 1px solid gainsboro;
      margin-top: 35px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .container .main_content #donation_box .project, .container .main_content #donation_box .raised, .container .main_content #donation_box .goal {
        border-bottom: 1px solid #c8c8c8;
        -webkit-box-shadow: 0px 1px 0px 0px white;
        -moz-box-shadow: 0px 1px 0px 0px white;
        box-shadow: 0px 1px 0px 0px white; }
      .container .main_content #donation_box .project {
        color: #8a2036;
        font-size: 23px;
        font-family: "Times New Roman";
        text-align: center;
        height: 60px;
        padding-top: 10px; }
      .container .main_content #donation_box .raised, .container .main_content #donation_box .goal {
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        float: left;
        height: 50px;
        padding-top: 15px; }
        .container .main_content #donation_box .raised p, .container .main_content #donation_box .goal p {
          color: black;
          font-family: "Times New Roman";
          font-size: 12px;
          font-weight: 100;
          margin: 0; }
      .container .main_content #donation_box .raised {
        color: #649664;
        border-right: 3px dotted #c8c8c8;
        width: 142px; }
      .container .main_content #donation_box .goal {
        color: #8a2036;
        width: 145px; }
    .container .main_content li {
      float: left;
      list-style: none;
      margin-top: 15px;
      margin-left: -15px; }
  .container #footer {
    height: 20px;
    width: 960px;
    margin: 10px auto;
    color: #c8c8c8;
    text-align: left;
    font-size: 12px; }
    .container #footer a:link, .container #footer a:active, .container #footer a:visited {
      text-decoration: none;
      color: #c8c8c8; }
    .container #footer .facebook {
      float: right;
      padding-left: 22px;
      height: 20px;
      background-position: left;
      background: url("../images/gui.png") 0px -60px no-repeat; }
    .container #footer .facebook:hover {
      background: url("../images/gui.png") 0px -80px no-repeat;
      color: #646464; }
      .container #footer .facebook:hover a:link, .container #footer .facebook:hover a:active, .container #footer .facebook:hover a:visited {
        text-decoration: none;
        color: #646464; }
    .container #footer .twitter {
      float: right;
      padding-left: 22px;
      margin-left: 20px;
      height: 20px;
      background-position: left;
      background: url("../images/gui.png") 0px -20px no-repeat; }
    .container #footer .twitter:hover {
      background: url("../images/gui.png") 0px -40px no-repeat;
      color: #646464; }
      .container #footer .twitter:hover a:link, .container #footer .twitter:hover a:active, .container #footer .twitter:hover a:visited {
        text-decoration: none;
        color: #646464; }

.button {
  float: left;
  color: white;
  font-size: 18px;
  font-family: "Times New Roman";
  text-align: center;
  height: 26px;
  width: 120px;
  padding-top: 4px;
  border-top: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-bottom: 1px solid #646464;
  border-right: 1px solid #646464;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px 1px #646464;
  -moz-box-shadow: 0px 0px 1px 1px #646464;
  box-shadow: 0px 0px 1px 1px #646464;
  cursor: pointer; }
  .button a:link, .button a:active, .button a:visited {
    text-decoration: none;
    color: white; }

.green {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#78b478), to(#5a885a));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #78b478, #5a885a);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2)"; }

.green:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#96e196), to(#649664));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #96e196, #649664);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2)"; }

.green:active {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#649664), to(#649664));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #649664, #649664);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2)"; }

.crimson {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#c12c4b), to(#7d1d31));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #c12c4b, #7d1d31);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2)"; }

.crimson:hover {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#f83961), to(#8a2036));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #f83961, #8a2036);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2)"; }

.crimson:active {
  /* For WebKit (Safari, Google Chrome etc) */
  background: -webkit-gradient(linear, left top, left bottom, from(#8a2036), to(#8a2036));
  /* For Mozilla/Gecko (Firefox etc) */
  background: -moz-linear-gradient(top, #8a2036, #8a2036);
  /* For Internet Explorer 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2);
  /* For Internet Explorer 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=$color1, endColorstr=$color2)"; }

.crimson:active, .green:active {
  -webkit-box-shadow: 0px 0px 1px 1px #646464;
  -moz-box-shadow: 0px 0px 1px 1px #646464;
  box-shadow: 0px 0px 1px 1px #646464;
  border: 1px solid #646464; }

.pull_right {
  float: right; }

.donate {
  margin-top: 15px;
  margin-left: 85px; }
