<ul class="sidebar">
    <li class="subtitle">
        Upcoming Events
    </li>
    <li>
        <div class="date">
            <b>
                21
            </b>
            May
        </div>
        <div class="arrow-down">
        </div>
        <div class="event">
            <a href="renovation_ichbaken.html">Rainbow Schools Program Volunteer Work Starts in Ait Hamza</a>
        </div>
        <div class="event_description">
        </div>
        <div class="location_pin">
        </div>
        <div class="event_location">
            <a href="ichbaken.html">Ait Hamza, Morocco</a>
        </div>
        <div class="learn_more">
            <a href="renovation_ichbaken.html">Learn More ></a>
        </div>
    </li>
    <li>
        <div class="date">
            <b>
                16
            </b>
            Aug
        </div>
        <div class="arrow-down">
        </div>
        <div class="event">
            <a href="opening_ichbaken.html">Summer Camp Program Starts in Ichebaken</a>
        </div>
        <div class="event_description">
        </div>
        <div class="location_pin">
        </div>
        <div class="event_location">
            <a href="ichbaken.html">Ichbaken, Morocco</a>
        </div>
        <div class="learn_more">
            <a href="opening_ichbaken.html">Learn More ></a>
        </div>
    </li>
    <li id="donation_box">
        <div class="project">
            Help renovate a school in Ichbaken
        </div>
        <div class="raised">
            154 100 dhs
            <p>
                Raised so far
            </p>
        </div>
        <div class="goal">
            200 000 dhs
            <p>
                Goal
            </p>
        </div>
        <div class="crimson button donate">
            <a href="donate.html">Donate</a>
        </div>
    </li>
</ul>