/* Teach4Morocco */

$color0: rgb(33,34,28); /* Logo-like Glue */
$color1: rgb(152,26,54); /* Logo-like Redish */
$color2: rgb(102, 145,102); /* Learn more section Green*/
$black: rgb(0,0,0);
$white: rgb(255,255,255);
$total-width: 960px;
$content-width: 780px;
$menu-height: 50px;
$border: 1px;
$main-font: Droid Sans;
$font-for-the-rest: helvetica;
$page-height: 100%;
$content-margin: 15px;

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body{
    text-align: center;
    font-family: $main-font, $font-for-the-rest;
}

#container{
    width: $total-width;
    height: $page-height;
    margin: auto;
    position: relative;

    #header{
        position: fixed;
        top:0;
        
        #logo{
            height:150px;
            width: 270px;
            background-image: url(../images/logo.png);
            float: left;
            z-index: 100;
        }
    
        ul{    
            width: 960px;
            padding: 0;
            list-style: none;
            margin: $menu-height 0 0 180px;
            
            li{
                a:link,a:active,a:visited{
                    text-decoration:none;
                    color: $color1;
                    font: {
                    size: 15px;
                    }
                }
                float: left;
                border-right: 1px solid #ddd;
                padding: 9px 15px 0 15px;
                &:last-child{
		          border-right: none;
                }
            }

        }
    }

    #banner{
        margin-top: $menu-height + 70px;
        padding: 4px;
        h1{
	       font-size: 41px;
        }
    }

    #main{
        ul{
	       li{
	           float: left;
	           list-style: none;
	           h1 {
		          color: $color1;
	           }
	           a:link,a:active,a:visited{
		          text-decoration:none;
		          color: $color2;
		          font: {
                    size: 15px;
		          }
	           }
		   padding: 9px 15px 0 15px;
	       }
        }
    
        #partners{
        }
    }
    
    #footer{
        float: left;   
    }
}



